################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/**/bin/
/**/obj/
/**/.ntvs_analysis.dat
*.user
/packages
/**/BenchmarkDotNet.Artifacts
src/AzureDatacenterIPOrNo/CacheSource.txt
src/AzureDatacenterIPOrNo/PublicIPs.json
